div.greeting {
  color: rgb(0, 0, 250); /*making color*/
  font-family: "Times New Roman"; /*making the font family times new roman*/
  font-size: 100px; /*making the font size 100px*/
}
body {
  background-color: rgb(0, 250, 0); /* background color green*/
}
